---
layout: articles
titles:
  # @start locale config
  en      : &EN       Home
  en-GB   : *EN
  en-US   : *EN
  en-CA   : *EN
  en-AU   : *EN
  zh-Hans : &ZH_HANS  主页
  zh      : *ZH_HANS
  zh-CN   : *ZH_HANS
  zh-SG   : *ZH_HANS
  zh-Hant : &ZH_HANT  主頁
  zh-TW   : *ZH_HANT
  zh-HK   : *ZH_HANT
  ko      : &KO       홈
  ko-KR   : *KO
  fr      : &FR       Accueil
  fr-BE   : *FR
  fr-CA   : *FR
  fr-CH   : *FR
  fr-FR   : *FR
  fr-LU   : *FR
  tr      : &TR       Ana Sayfa
  # @end locale config
show_title: false
articles:
  data_source: paginator.posts
  article_type: BlogPosting
  show_cover: false
  show_excerpt: true
  show_readmore: false
  show_info: true
---


<h2>历史上的今天</h2>
<span id='year'>可爱捏</span>年，<span id='event'>可爱捏。</span>

<script>
  let today = new Date();
  let path = ''
  
  if (today.getMonth() < 9) {
    path += '0'
  }
  path += `${(today.getMonth() + 1)}`

  if (today.getDate() < 10) {
    path += '0'
  }
  path += `${today.getDate()}`
  
  fetch(`https://panda-ghost.github.io/todayinhistory/${path}.json`)
    .then((response) => response.json())
    .then((data) => {
      let event = data[Math.floor(today.getFullYear()%data.length)];
      document.getElementById('year').innerHTML = `${event.year}`;
      document.getElementById('event').innerHTML = `${event.title.slice(event.title.indexOf(':') + 1)}`;
    });
</script>


<div class="layout--home">
  {%- include paginator.html -%}
</div>
<script>
  {%- include scripts/home.js -%}
</script>
<script src="https://fastly.jsdelivr.net/gh/stevenjoezhang/live2d-widget@latest/autoload.js"></script>

{{ content }}
